devops/n8n-workflows/3-document-management.json
{
  "id": "3",
  "name": "RAG: Управление документами",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "rag-docs",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a3000001-0001-0001-0001-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 300],
      "webhookId": "rag-docs-webhook"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const item = $input.first();\nconst body = item.json.body;\nreturn [{ json: { org_id: body.org_id, action: body.action || 'list', document_id: body.doc_id, _action: body.action || 'list' } }];"
      },
      "id": "a3000001-0001-0001-0001-000000000002",
      "name": "Parse Action",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "mode": "rules",
        "rules": {
          "values": [
            {
              "conditions": {
                "options": { "version": 2, "caseSensitive": true, "leftValue": "" },
                "conditions": [
                  {
                    "leftValue": "={{ $json._action }}",
                    "rightValue": "list",
                    "operator": { "type": "string", "operation": "equals" }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "list"
            },
            {
              "conditions": {
                "options": { "version": 2, "caseSensitive": true, "leftValue": "" },
                "conditions": [
                  {
                    "leftValue": "={{ $json._action }}",
                    "rightValue": "delete",
                    "operator": { "type": "string", "operation": "equals" }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "delete"
            }
          ]
        },
        "options": {}
      },
      "id": "a3000001-0001-0001-0001-000000000003",
      "name": "Switch Action",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [500, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, filename, status, chunk_count, created_at FROM \"Document\" WHERE organization_id = $1::integer ORDER BY created_at DESC",
        "options": {
          "queryReplacement": "={{ $json.org_id }}"
        }
      },
      "id": "a3000001-0001-0001-0001-000000000004",
      "name": "PG: List Documents",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [800, 150],
      "credentials": {
        "postgres": {
          "id": "vIdfD5fvei7cLHiX",
          "name": "RAG KB PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const items = $input.all();\nconst documents = items.map(item => item.json);\nreturn [{ json: { documents } }];"
      },
      "id": "a3000001-0001-0001-0001-000000000009",
      "name": "Format List Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1050, 150]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "a3000001-0001-0001-0001-000000000005",
      "name": "Respond List",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1300, 150]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://qdrant:6333/collections/org_{{ $json.org_id }}/points/delete",
        "authentication": "none",
        "sendBody": true,
        "contentType": "raw",
        "body": "={{ JSON.stringify({ filter: { must: [{ key: 'document_id', match: { value: $json.document_id } }] } }) }}",
        "options": {}
      },
      "id": "a3000001-0001-0001-0001-000000000006",
      "name": "Qdrant: Delete Points",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [800, 450]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "DELETE FROM \"DocumentChunk\" WHERE document_id = $1::integer; DELETE FROM \"Document\" WHERE id = $1::integer;",
        "options": {
          "queryReplacement": "={{ $json.document_id }}"
        }
      },
      "id": "a3000001-0001-0001-0001-000000000007",
      "name": "PG: Delete Document",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1050, 450],
      "credentials": {
        "postgres": {
          "id": "vIdfD5fvei7cLHiX",
          "name": "RAG KB PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, deleted: true }) }}",
        "options": {}
      },
      "id": "a3000001-0001-0001-0001-000000000008",
      "name": "Respond Delete",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1300, 450]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [{ "node": "Parse Action", "type": "main", "index": 0 }]
      ]
    },
    "Parse Action": {
      "main": [
        [{ "node": "Switch Action", "type": "main", "index": 0 }]
      ]
    },
    "Switch Action": {
      "main": [
        [{ "node": "PG: List Documents", "type": "main", "index": 0 }],
        [{ "node": "Qdrant: Delete Points", "type": "main", "index": 0 }]
      ]
    },
    "PG: List Documents": {
      "main": [
        [{ "node": "Format List Response", "type": "main", "index": 0 }]
      ]
    },
    "Format List Response": {
      "main": [
        [{ "node": "Respond List", "type": "main", "index": 0 }]
      ]
    },
    "Qdrant: Delete Points": {
      "main": [
        [{ "node": "PG: Delete Document", "type": "main", "index": 0 }]
      ]
    },
    "PG: Delete Document": {
      "main": [
        [{ "node": "Respond Delete", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "active": true
}
