devops/n8n-workflows/4-estimate-generate.json
{
  "id": "4",
  "name": "Estimate: Генерация сметы",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "estimate-generate",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a4000001-0001-0001-0001-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 300],
      "webhookId": "estimate-generate-webhook"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const item = $input.first();\nconst body = item.json.body;\nconst crypto = require('crypto');\nconst gigachatAuth = 'Basic ' + Buffer.from($env.GIGACHAT_CLIENT_ID + ':' + $env.GIGACHAT_CLIENT_SECRET).toString('base64');\nconst rquid = crypto.randomUUID();\nreturn [{ json: { org_id: body.org_id, user_max_id: body.user_max_id, work_types: body.work_types, parameters: body.parameters, _gigachat_auth: gigachatAuth, _rquid: rquid } }];"
      },
      "id": "a4000001-0001-0001-0001-000000000010",
      "name": "Parse Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ngw.devices.sberbank.ru:9443/api/v2/oauth",
        "authentication": "none",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            { "name": "scope", "value": "GIGACHAT_API_PERS" }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "={{ $json._gigachat_auth }}" },
            { "name": "RqUID", "value": "={{ $json._rquid }}" }
          ]
        },
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "id": "a4000001-0001-0001-0001-000000000002",
      "name": "GigaChat Auth",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [500, 300]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const authResult = $input.first().json;\nconst inputData = $('Parse Input').first().json;\nreturn [{ json: { ...inputData, access_token: authResult.access_token } }];"
      },
      "id": "a4000001-0001-0001-0001-000000000011",
      "name": "Merge Auth + Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [750, 300]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Читаем справочник рецептов из Google Sheets\n// TODO: Заменить SPREADSHEET_ID на реальный ID таблицы с рецептами\n// Формат таблицы: Вид работы | Материал | Единица | Норма на м² | Цена материала | Цена работы за м²\nconst https = require('https');\nconst prevData = $input.first().json;\n\n// Для MVP: формируем запрос к GigaChat с описанием видов работ\n// В продакшене здесь будет Google Sheets API для чтения рецептов\nconst workTypesText = prevData.work_types.join(', ');\nconst params = prevData.parameters;\n\nreturn [{ json: { ...prevData, work_types_text: workTypesText, room_area: params.roomArea || 0, room_height: params.roomHeight || 2.7, room_count: params.roomCount || 1, additional_notes: params.additionalNotes || '' } }];"
      },
      "id": "a4000001-0001-0001-0001-000000000003",
      "name": "Prepare Estimate Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1000, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://gigachat.devices.sberbank.ru/api/v1/chat/completions",
        "authentication": "none",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'GigaChat', messages: [ { role: 'system', content: 'Ты — профессиональный сметчик-строитель. Составь подробную строительную смету на основе указанных видов работ и параметров помещения. Для каждого вида работ укажи: название работы, список материалов (название, единица измерения, количество, цена за единицу), стоимость работы. Ответ ОБЯЗАТЕЛЬНО в формате JSON массива: {\"items\": [{\"work_type\": \"название\", \"materials\": [{\"name\": \"материал\", \"unit\": \"шт/кг/м²/м³\", \"quantity\": число, \"price\": число}], \"labor_cost\": число, \"total_cost\": число}], \"total_cost\": число}. Цены указывай в рублях, актуальные рыночные. Количества рассчитывай на основе площади и параметров.' }, { role: 'user', content: 'Виды работ: ' + $json.work_types_text + '\\nПлощадь: ' + $json.room_area + ' м²\\nВысота потолков: ' + $json.room_height + ' м\\nКоличество комнат: ' + $json.room_count + ($json.additional_notes ? '\\nДополнительно: ' + $json.additional_notes : '') } ], temperature: 0.3, max_tokens: 4000 }) }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $json.access_token }}" }
          ]
        },
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "id": "a4000001-0001-0001-0001-000000000004",
      "name": "GigaChat: Generate Estimate",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1250, 300]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const chatResult = $input.first().json;\nconst prevData = $('Prepare Estimate Data').first().json;\nconst content = chatResult.choices[0].message.content;\n\n// Парсим JSON из ответа GigaChat\nlet estimateData;\ntry {\n  // Пробуем найти JSON в ответе\n  const jsonMatch = content.match(/\\{[\\s\\S]*\\}/);\n  if (jsonMatch) {\n    estimateData = JSON.parse(jsonMatch[0]);\n  } else {\n    throw new Error('JSON not found in response');\n  }\n} catch (e) {\n  // Фолбэк: создаём простую структуру\n  estimateData = {\n    items: prevData.work_types.map(wt => ({\n      work_type: wt,\n      materials: [{ name: 'Материалы (уточнить)', unit: 'комплект', quantity: 1, price: 0 }],\n      labor_cost: 0,\n      total_cost: 0\n    })),\n    total_cost: 0\n  };\n}\n\nconst title = prevData.work_types.slice(0, 3).join(', ') + (prevData.work_types.length > 3 ? '...' : '');\n\nreturn [{ json: { org_id: prevData.org_id, user_max_id: prevData.user_max_id, title, parameters: prevData.parameters, items: estimateData.items || [], total_cost: estimateData.total_cost || 0, result_data: estimateData } }];"
      },
      "id": "a4000001-0001-0001-0001-000000000014",
      "name": "Parse Estimate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1500, 300]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const { Client } = require('pg');\nconst item = $input.first().json;\nconst client = new Client({ host: $env.APP_PG_HOST || 'db', port: parseInt($env.APP_PG_PORT || '5432'), user: $env.APP_PG_USER, password: $env.APP_PG_PASSWORD, database: ($env.APP_PG_DATABASE || 'ragkb_app') });\nawait client.connect();\ntry {\n  // Insert Estimate\n  const estResult = await client.query(\n    'INSERT INTO \"Estimate\" (organization_id, title, parameters, status, total_cost, result_data, created_at, updated_at) VALUES ($1, $2, $3, $4, $5, $6, NOW(), NOW()) RETURNING id',\n    [item.org_id, item.title, JSON.stringify(item.parameters), 'ready', item.total_cost, JSON.stringify(item.result_data)]\n  );\n  const estimateId = estResult.rows[0].id;\n\n  // Insert EstimateItems\n  for (const ei of item.items) {\n    await client.query(\n      'INSERT INTO \"EstimateItem\" (estimate_id, work_type, materials, labor_cost, total_cost) VALUES ($1, $2, $3, $4, $5)',\n      [estimateId, ei.work_type, JSON.stringify(ei.materials), ei.labor_cost || 0, ei.total_cost || 0]\n    );\n  }\n\n  return [{ json: { estimate_id: estimateId, items: item.items, total_cost: item.total_cost } }];\n} finally {\n  await client.end();\n}"
      },
      "id": "a4000001-0001-0001-0001-000000000005",
      "name": "PG: Save Estimate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1750, 300]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const item = $input.first().json;\nreturn [{ json: { estimate_id: item.estimate_id, items: item.items, total_cost: item.total_cost } }];"
      },
      "id": "a4000001-0001-0001-0001-000000000015",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2000, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "a4000001-0001-0001-0001-000000000006",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [2250, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [{ "node": "Parse Input", "type": "main", "index": 0 }]
      ]
    },
    "Parse Input": {
      "main": [
        [{ "node": "GigaChat Auth", "type": "main", "index": 0 }]
      ]
    },
    "GigaChat Auth": {
      "main": [
        [{ "node": "Merge Auth + Input", "type": "main", "index": 0 }]
      ]
    },
    "Merge Auth + Input": {
      "main": [
        [{ "node": "Prepare Estimate Data", "type": "main", "index": 0 }]
      ]
    },
    "Prepare Estimate Data": {
      "main": [
        [{ "node": "GigaChat: Generate Estimate", "type": "main", "index": 0 }]
      ]
    },
    "GigaChat: Generate Estimate": {
      "main": [
        [{ "node": "Parse Estimate", "type": "main", "index": 0 }]
      ]
    },
    "Parse Estimate": {
      "main": [
        [{ "node": "PG: Save Estimate", "type": "main", "index": 0 }]
      ]
    },
    "PG: Save Estimate": {
      "main": [
        [{ "node": "Format Response", "type": "main", "index": 0 }]
      ]
    },
    "Format Response": {
      "main": [
        [{ "node": "Respond", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "active": true
}
