devops/n8n-workflows/_wf1_indexing.json
{
  "name": "RAG Indexing",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "rag-upload",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "wh-upload-001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [220, 300],
      "webhookId": "rag-upload-wh"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const items = $input.all();\nconst body = items[0].json.body;\n\nconst organizationId = body.organization_id;\nconst filename = body.filename;\nconst mimeType = body.mime_type;\nconst fileUrl = body.file_url;\nconst fileToken = body.file_token;\n\nreturn [{\n  json: {\n    organizationId,\n    filename,\n    mimeType,\n    fileUrl,\n    fileToken\n  }\n}];"
      },
      "id": "code-parse-001",
      "name": "Parse Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO \"Document\" (id, organization_id, filename, mime_type, status, chunk_count, created_at, updated_at)\nVALUES (gen_random_uuid(), $1, $2, $3, 'processing', 0, NOW(), NOW())\nRETURNING id, organization_id, filename, mime_type, status;",
        "options": {
          "queryReplacement": "={{ [$input.first().json.organizationId, $input.first().json.filename, $input.first().json.mimeType] }}"
        }
      },
      "id": "pg-insert-doc-001",
      "name": "PG Insert Document",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [660, 300],
      "credentials": {
        "postgres": {
          "id": "unFsxNV12RBMPTVQ",
          "name": "RAG KB PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const pgResult = $input.first().json;\nconst parseData = $('Parse Input').first().json;\n\nreturn [{\n  json: {\n    documentId: pgResult.id,\n    organizationId: pgResult.organization_id,\n    filename: pgResult.filename,\n    mimeType: pgResult.mime_type,\n    fileUrl: parseData.fileUrl,\n    fileToken: parseData.fileToken\n  }\n}];"
      },
      "id": "code-merge-001",
      "name": "Merge",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [880, 300]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const data = $input.first().json;\nconst fileUrl = data.fileUrl;\nconst fileToken = data.fileToken;\nconst mimeType = data.mimeType;\nconst filename = data.filename;\n\n// Download file\nconst headers = {};\nif (fileToken) {\n  headers['Authorization'] = `Bearer ${fileToken}`;\n}\nconst response = await fetch(fileUrl, { headers });\nconst buffer = Buffer.from(await response.arrayBuffer());\n\nlet text = '';\n\nif (mimeType === 'application/pdf' || filename.endsWith('.pdf')) {\n  const pdfParse = require('pdf-parse');\n  const pdfData = await pdfParse(buffer);\n  text = pdfData.text;\n} else if (mimeType === 'application/vnd.openxmlformats-officedocument.wordprocessingml.document' || filename.endsWith('.docx')) {\n  const mammoth = require('mammoth');\n  const result = await mammoth.extractRawText({ buffer });\n  text = result.value;\n} else if (mimeType === 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet' || filename.endsWith('.xlsx')) {\n  const XLSX = require('xlsx');\n  const workbook = XLSX.read(buffer, { type: 'buffer' });\n  const sheets = workbook.SheetNames;\n  text = sheets.map(name => {\n    const sheet = workbook.Sheets[name];\n    return XLSX.utils.sheet_to_csv(sheet);\n  }).join('\\n\\n');\n} else {\n  // Plain text / markdown / etc.\n  text = buffer.toString('utf-8');\n}\n\nreturn [{\n  json: {\n    ...data,\n    extractedText: text\n  }\n}];"
      },
      "id": "code-extract-001",
      "name": "Extract Text",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1100, 300]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const data = $input.first().json;\nconst text = data.extractedText;\nconst CHUNK_SIZE = 2000;\nconst OVERLAP = 200;\n\nconst chunks = [];\nlet start = 0;\n\nwhile (start < text.length) {\n  const end = Math.min(start + CHUNK_SIZE, text.length);\n  chunks.push(text.slice(start, end));\n  start += CHUNK_SIZE - OVERLAP;\n}\n\nreturn [{\n  json: {\n    ...data,\n    chunks,\n    chunkCount: chunks.length\n  }\n}];"
      },
      "id": "code-chunk-001",
      "name": "Chunk Text",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1320, 300]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const crypto = require('crypto');\nconst data = $input.first().json;\nconst chunks = data.chunks;\nconst organizationId = data.organizationId;\nconst collectionName = `org_${organizationId}`;\n\n// --- GigaChat Auth ---\nconst clientId = $env.GIGACHAT_CLIENT_ID;\nconst clientSecret = $env.GIGACHAT_CLIENT_SECRET;\nconst basicAuth = Buffer.from(`${clientId}:${clientSecret}`).toString('base64');\n\nconst authResponse = await fetch('https://ngw.devices.sberbank.ru:9443/api/v2/oauth', {\n  method: 'POST',\n  headers: {\n    'Content-Type': 'application/x-www-form-urlencoded',\n    'Authorization': `Basic ${basicAuth}`,\n    'RqUID': crypto.randomUUID()\n  },\n  body: 'scope=GIGACHAT_API_PERS'\n});\nconst authData = await authResponse.json();\nconst token = authData.access_token;\n\n// --- Ensure Qdrant collection exists ---\ntry {\n  await fetch(`http://qdrant:6333/collections/${collectionName}`, {\n    method: 'PUT',\n    headers: { 'Content-Type': 'application/json' },\n    body: JSON.stringify({\n      vectors: {\n        size: 1024,\n        distance: 'Cosine'\n      }\n    })\n  });\n} catch (e) {\n  // Collection may already exist, ignore\n}\n\n// --- Embed all chunks ---\nconst embResponse = await fetch('https://gigachat.devices.sberbank.ru/api/v1/embeddings', {\n  method: 'POST',\n  headers: {\n    'Content-Type': 'application/json',\n    'Authorization': `Bearer ${token}`\n  },\n  body: JSON.stringify({\n    model: 'Embeddings',\n    input: chunks\n  })\n});\nconst embData = await embResponse.json();\nconst embeddings = embData.data.map(d => d.embedding);\n\n// --- Upsert points to Qdrant ---\nconst points = embeddings.map((vector, i) => ({\n  id: crypto.randomUUID(),\n  vector,\n  payload: {\n    document_id: data.documentId,\n    organization_id: organizationId,\n    chunk_index: i,\n    content: chunks[i]\n  }\n}));\n\nawait fetch(`http://qdrant:6333/collections/${collectionName}/points`, {\n  method: 'PUT',\n  headers: { 'Content-Type': 'application/json' },\n  body: JSON.stringify({ points })\n});\n\nreturn [{\n  json: {\n    documentId: data.documentId,\n    organizationId,\n    filename: data.filename,\n    mimeType: data.mimeType,\n    chunkCount: chunks.length,\n    qdrantPoints: points.map((p, i) => ({\n      qdrantId: p.id,\n      chunkIndex: i,\n      content: chunks[i]\n    }))\n  }\n}];"
      },
      "id": "code-embed-001",
      "name": "Embed & Upsert",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1540, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "DO $$\nDECLARE\n  _doc_id UUID := $1::uuid;\n  _chunk_count INT := $2::int;\n  _points JSONB := $3::jsonb;\n  _point JSONB;\nBEGIN\n  FOR _point IN SELECT * FROM jsonb_array_elements(_points)\n  LOOP\n    INSERT INTO \"DocumentChunk\" (id, document_id, content, chunk_index, qdrant_id)\n    VALUES (\n      gen_random_uuid(),\n      _doc_id,\n      _point->>'content',\n      (_point->>'chunkIndex')::int,\n      (_point->>'qdrantId')::text\n    );\n  END LOOP;\n\n  UPDATE \"Document\"\n  SET status = 'ready',\n      chunk_count = _chunk_count,\n      updated_at = NOW()\n  WHERE id = _doc_id;\nEND $$;",
        "options": {
          "queryReplacement": "={{ [$input.first().json.documentId, $input.first().json.chunkCount, JSON.stringify($input.first().json.qdrantPoints)] }}"
        }
      },
      "id": "pg-save-chunks-001",
      "name": "PG Save Chunks",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1760, 300],
      "credentials": {
        "postgres": {
          "id": "unFsxNV12RBMPTVQ",
          "name": "RAG KB PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const data = $('Embed & Upsert').first().json;\n\nreturn [{\n  json: {\n    success: true,\n    documentId: data.documentId,\n    filename: data.filename,\n    chunkCount: data.chunkCount,\n    message: `Document '${data.filename}' indexed successfully with ${data.chunkCount} chunks.`\n  }\n}];"
      },
      "id": "code-format-001",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1980, 300]
    },
    {
      "parameters": {
        "respondWith": "firstIncomingItem",
        "options": {}
      },
      "id": "respond-001",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [2200, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [{ "node": "Parse Input", "type": "main", "index": 0 }]
      ]
    },
    "Parse Input": {
      "main": [
        [{ "node": "PG Insert Document", "type": "main", "index": 0 }]
      ]
    },
    "PG Insert Document": {
      "main": [
        [{ "node": "Merge", "type": "main", "index": 0 }]
      ]
    },
    "Merge": {
      "main": [
        [{ "node": "Extract Text", "type": "main", "index": 0 }]
      ]
    },
    "Extract Text": {
      "main": [
        [{ "node": "Chunk Text", "type": "main", "index": 0 }]
      ]
    },
    "Chunk Text": {
      "main": [
        [{ "node": "Embed & Upsert", "type": "main", "index": 0 }]
      ]
    },
    "Embed & Upsert": {
      "main": [
        [{ "node": "PG Save Chunks", "type": "main", "index": 0 }]
      ]
    },
    "PG Save Chunks": {
      "main": [
        [{ "node": "Format Response", "type": "main", "index": 0 }]
      ]
    },
    "Format Response": {
      "main": [
        [{ "node": "Respond", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null
}
