devops/n8n-workflows/_wf2_qa.json
{
  "name": "RAG Q&A",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "rag-question",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "wh-qa-001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [220, 300],
      "webhookId": "rag-question-wh"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const items = $input.all();\nconst body = items[0].json.body;\n\nconst organizationId = body.organization_id;\nconst userMaxId = body.user_max_id;\nconst question = body.question;\n\nreturn [{\n  json: {\n    organizationId,\n    userMaxId,\n    question\n  }\n}];"
      },
      "id": "code-parse-qa-001",
      "name": "Parse Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 300]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const crypto = require('crypto');\nconst data = $input.first().json;\nconst question = data.question;\nconst organizationId = data.organizationId;\nconst collectionName = `org_${organizationId}`;\n\n// --- GigaChat Auth ---\nconst clientId = $env.GIGACHAT_CLIENT_ID;\nconst clientSecret = $env.GIGACHAT_CLIENT_SECRET;\nconst basicAuth = Buffer.from(`${clientId}:${clientSecret}`).toString('base64');\n\nconst authResponse = await fetch('https://ngw.devices.sberbank.ru:9443/api/v2/oauth', {\n  method: 'POST',\n  headers: {\n    'Content-Type': 'application/x-www-form-urlencoded',\n    'Authorization': `Basic ${basicAuth}`,\n    'RqUID': crypto.randomUUID()\n  },\n  body: 'scope=GIGACHAT_API_PERS'\n});\nconst authData = await authResponse.json();\nconst token = authData.access_token;\n\n// --- Embed Question ---\nconst embResponse = await fetch('https://gigachat.devices.sberbank.ru/api/v1/embeddings', {\n  method: 'POST',\n  headers: {\n    'Content-Type': 'application/json',\n    'Authorization': `Bearer ${token}`\n  },\n  body: JSON.stringify({\n    model: 'Embeddings',\n    input: [question]\n  })\n});\nconst embData = await embResponse.json();\nconst queryVector = embData.data[0].embedding;\n\n// --- Qdrant Search ---\nconst searchResponse = await fetch(`http://qdrant:6333/collections/${collectionName}/points/search`, {\n  method: 'POST',\n  headers: { 'Content-Type': 'application/json' },\n  body: JSON.stringify({\n    vector: queryVector,\n    limit: 5,\n    with_payload: true\n  })\n});\nconst searchData = await searchResponse.json();\nconst results = searchData.result || [];\n\nconst sourceChunks = results.map(r => ({\n  document_id: r.payload.document_id,\n  chunk_index: r.payload.chunk_index,\n  content: r.payload.content,\n  score: r.score\n}));\n\nconst context = sourceChunks.map((c, i) => `[${i + 1}] ${c.content}`).join('\\n\\n');\n\n// --- GigaChat Chat Completion ---\nconst chatResponse = await fetch('https://gigachat.devices.sberbank.ru/api/v1/chat/completions', {\n  method: 'POST',\n  headers: {\n    'Content-Type': 'application/json',\n    'Authorization': `Bearer ${token}`\n  },\n  body: JSON.stringify({\n    model: 'GigaChat',\n    temperature: 0.3,\n    messages: [\n      {\n        role: 'system',\n        content: 'You are a helpful assistant that answers questions based on the provided context from the organization knowledge base. If the context does not contain enough information to answer, say so. Always reference which context fragments you used.'\n      },\n      {\n        role: 'user',\n        content: `Context:\\n${context}\\n\\nQuestion: ${question}`\n      }\n    ]\n  })\n});\nconst chatData = await chatResponse.json();\nconst answer = chatData.choices[0].message.content;\n\nreturn [{\n  json: {\n    organizationId,\n    userMaxId: data.userMaxId,\n    question,\n    answer,\n    sourceChunks\n  }\n}];"
      },
      "id": "code-search-answer-001",
      "name": "Auth & Embed & Search & Answer",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO \"RagQuery\" (id, organization_id, user_max_id, question, answer, source_chunks, created_at)\nVALUES (gen_random_uuid(), $1, $2, $3, $4, $5::jsonb, NOW())\nRETURNING id;",
        "options": {
          "queryReplacement": "={{ [$input.first().json.organizationId, $input.first().json.userMaxId, $input.first().json.question, $input.first().json.answer, JSON.stringify($input.first().json.sourceChunks)] }}"
        }
      },
      "id": "pg-log-query-001",
      "name": "PG Log Query",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [880, 300],
      "credentials": {
        "postgres": {
          "id": "unFsxNV12RBMPTVQ",
          "name": "RAG KB PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const data = $('Auth & Embed & Search & Answer').first().json;\nconst queryId = $input.first().json.id;\n\nreturn [{\n  json: {\n    success: true,\n    queryId,\n    answer: data.answer,\n    sourceChunks: data.sourceChunks,\n    question: data.question\n  }\n}];"
      },
      "id": "code-format-qa-001",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1100, 300]
    },
    {
      "parameters": {
        "respondWith": "firstIncomingItem",
        "options": {}
      },
      "id": "respond-qa-001",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1320, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [{ "node": "Parse Input", "type": "main", "index": 0 }]
      ]
    },
    "Parse Input": {
      "main": [
        [{ "node": "Auth & Embed & Search & Answer", "type": "main", "index": 0 }]
      ]
    },
    "Auth & Embed & Search & Answer": {
      "main": [
        [{ "node": "PG Log Query", "type": "main", "index": 0 }]
      ]
    },
    "PG Log Query": {
      "main": [
        [{ "node": "Format Response", "type": "main", "index": 0 }]
      ]
    },
    "Format Response": {
      "main": [
        [{ "node": "Respond", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null
}
